.bak
.old
05-cinder-ceph2.tf
05-cinder-lvm.tf
09-filebeat.tf
09-telegraf.tf
20-model.tf
21-machines.tf
22-graylog.tf
23-elastic.tf
24-grafana.tf
25-prometheus.tf
30-model.tf
31-machines.tf
32-microk8s.tf
33-ceph.tf
34-ntp.tf
35-grafana-agent.tf
41-ldap.tf
50-model.tf
51-machines.tf
52-infra-nodes.tf
53-ntp.tf
