juju_version="3/stable"
juju_ha="true"
juju_bootstrap_series="jammy"
launchpad_user="al3jandrosg"
package_repository="http://archive.ubuntu.com/ubuntu/"
maas_bridge_ip="10.0.1.253"
maas_boot_source="http://images.maas.io/ephemeral-v3/stable/"
maas_endpoint="http://$maas_bridge_ip:5240/MAAS"
maas_kernel_opts="console=ttyS0,115200 console=tty0,115200 elevator=noop amd_iommu=on iommu=pt debug nosplash scsi_mod.use_blk_mq=1 dm_mod.use_blk_mq=1 enable_mtrr_cleanup mtrr_spare_reg_nr=1 systemd.log_level=info"
maas_ip_range="10.0.1"
maas_pass="openstack"
maas_profile="admin"
maas_upstream_dns="8.8.8.8 1.1.1.1"
maas_user="admin"
maas_version="3.4"
#no_proxy="localhost,127.0.0.1"
#squid_proxy="http://192.168.68.63:3128"
enable_http_proxy=false
maas_pkg_type="snap"
maas_api_key="somekey"
maas_subnet_start="10.0.1.1"
maas_subnet_end="10.0.1.99"
maas_dhcp_start_postfix="1"
maas_dhcp_end_postfix="99"
maas_spaces=(oam ceph-access ceph-replica overlay admin internal )
maas_subnets=(10.0.1 10.0.2 10.0.3 10.0.4 10.0.5 10.0.6 )
maas_vlans=(300 301 302 303 304 305 )
maas_dns_names=(aodh cinder dashboard glance heat keystone mysql neutron nova gnocchi contrail vault placement)
maas_dns_ips=(211 212 213 214 215 216 217 218 219 220 221 222 223)