network:
  version: 2
  renderer: networkd
  ethernets:
    eth0:
      dhcp4: false
      addresses:
        - "{{ maas_ip }}/24"
      nameservers:
        addresses:
          - 8.8.8.8
          - 1.1.1.1
      routes:
        - to: default
          via: "{{ gateway_wlan }}"
    eth1:
      addresses:
        - 10.0.1.253/24
    eth2:
      addresses:
        - 10.0.2.253/24
    eth3:
      addresses:
        - 10.0.3.253/24
    eth4:
      addresses:
        - 10.0.4.253/24
    eth5:
      addresses:
        - 10.0.5.253/24
    eth6:
      addresses:
        - 10.0.6.253/24
