network:
  version: 2
  renderer: networkd
  ethernets:
    enp1s0:
      optional: true
  wifis:
    wlp2s0:
      optional: true
      access-points:
        "{{ wlan_ssid }}":
          password: "{{ wlan_password }}"
      addresses: 
        - "{{ wlan_ip }}/24"
      routes:
        - to: default
          via: "{{ gateway_wlan }}"
      nameservers:
        addresses: [8.8.8.8, 1.1.1.1]
  bridges:
    br0:
      interfaces:
        - vlan300
        - enp1s0
      addresses: 
        - "{{ eth0_ip }}/24"
    br1:
      interfaces:
        - vlan301
    br2:
      interfaces:
        - vlan302
    br3:
      interfaces:
        - vlan303
    br4:
      interfaces:
        - vlan304
    br5:
      interfaces:
        - vlan305
  vlans:
    vlan300:
      id: 300
      link: enp1s0
    vlan301:
      id: 301
      link: enp1s0
    vlan302:
      id: 302
      link: enp1s0
    vlan303:
      id: 303
      link: enp1s0
    vlan304:
      id: 304
      link: enp1s0
    vlan305:
      id: 305
      link: enp1s0
