config: {}
networks: []
storage_pools:
- config: {}
  description: ""
  name: default
  driver: dir
profiles:
- config: {}
  description: ""
  devices:
    eth0:
      name: eth0
      nictype: bridged
      type: nic
      parent: br0
    root:
      path: /
      pool: default
      type: disk
  name: default
projects: []
cluster: null